body{
    background-color: rgb(65, 82, 238);
    font: ;
    
}

header{
    text-align: center;
}

section{
    background-color:  white;
    border-radius:  10px;
    padding: 15px;
    width: 520px;
    height: 400px;
    margin: auto;
    box-shadow: 6px 6px 8px 8px  rgba(0, 0, 0, 0.5);

}
div{ text-align: left;
    padding: 25px;

}
img{
    position: relative;
    top: -210px;
    left: 190px;
    width:250px;
}
h1{
    color: white;
    font: normal 25pt arial ;
}

footer{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-style: italic;
}